.container.book-page {
    background-color: white;
    margin-left: 14rem;
    margin-right: 14rem;

    .columns .title{
    text-align: left;
    }

    h1 {
        font-size: 2rem;
        font-weight: 800;
        color: $dark-yellow
    }

    h3 {
        font-style: italic;
        font-weight: 200;
    }

    .votes {
        text-align: left;
        display: flex;
        justify-content: flex-end;
    }

    .button {
      margin-left: 1rem;
    }

    h4 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

.book-page-synopsis{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    padding: 0 3rem 0 3rem;
}

.book-page-rating {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 3rem 3rem 3rem;
}
