footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #333;
    width: 100%;
    text-align: center;

    .container{
        margin: 0 auto;
    }

    ul {
        display: flex;
        li {
            padding: 10px;
        }
    }
}