.navbar {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.navbar-item {
    & .active {
        color: white;
        background-color: yellow;
    }
}

.navbar-brand {

    a{
        border-radius: 5px;
        background-color: grey;
        border: none;
        color: #FFFFFF;
        padding: 5px 52px;
        text-align: center;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        margin: 16px 0 !important;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }
}