.top-books-page {
    background-color: white;
    border-radius: 1rem;
    box-shadow: darken($color: #000000, $amount: 0);
    text-align: left;
    margin-bottom: 20px;

    & > h1 {
        color: $primary;
        font-size: 4rem;
        font-weight: 800;
        margin-bottom: 20px;
        text-align: center;
    }
}

.image-container{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

img.center {
    width: 200px;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
}

.book-section:nth-child(2n) {
    background-color: $light-yellow;
}
.book-section:nth-child(2n+1) {
    background-color: white;
}