.top-books-page {
    position: relative;
    background-color: $light-yellow;
    -webkit-box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
    text-align: left;
    margin-bottom: 12px;

    section {
        padding: 2rem;
        position: relative;
    }

    .page-title {
        color: $button-yellow;
        font-size: 4rem;
        font-weight: 800;
        margin-bottom: 1rem;
        text-align: center;
    }

    .author {
        font-weight: 400;
        padding-bottom: 2rem;
    }
}

h1.title > a {
    color: $dark-yellow;
}

.columns {
    margin-left: 0;
    margin-right: 0;

    padding: 2rem;
    &::nth-child(odd) {
        background-color: white;
    }
}

.image-container{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

img.center {
    width: 200px;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 18px -4px rgba(0,0,0,0.75);
}

.upvotes {
    position: absolute;
    bottom: 4rem;
}

.upvotes-count {
    line-height: 2.4rem;
    padding: 2rem;
}

.rating {
    font-size: 1.2rem;
    font-weight: 200;
}